Adafruit-Blinka==5.9.2
Adafruit-BMP==1.5.4
adafruit-circuitpython-74hc595==1.2.1
adafruit-circuitpython-bme280==2.5.1
adafruit-circuitpython-busdevice==5.0.2
adafruit-circuitpython-charlcd==3.3.4
adafruit-circuitpython-mcp230xx==2.4.2
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==2.24.0
Adafruit-PureIO==1.1.8
APScheduler==3.5.3
beautifulsoup4==4.9.3
enocean==0.31
enum-compat==0.0.3
numpy==1.21.0
paho-mqtt==1.4.0
Pillow==9.0.1
pkg-resources==0.0.0
pyftdi==0.52.0
pyserial==3.5
pytz==2020.5
pyusb==1.0.2
pywws==18.4.0
rpi-ws281x==4.2.5
RPi.GPIO==0.7.0
sense-hat==2.2.0
SI1145==1.0.2
six==1.15.0
soupsieve==2.1
spidev==3.5
sysv-ipc==1.0.1
tzlocal==2.1
